.question-container {
    position: absolute;
    z-index: 1;
    width: calc(90% - 100px);
    left: 50%;
    top: 50%;
    display: flex;
    transform: translate(-50%, -50%);
    justify-content: center;
    background-color: rgba(0,0,0,.5);
    color: #e83738;
    border: 1px solid;
    border-radius: 5px;
    align-items: center;
    max-width: 1000px;
    padding: 50px 50px 120px;

    @media screen and (max-width: 1200px) {
        flex-wrap: wrap;
    }

    @media screen and (max-width: 1200px) {
        width: calc(90% - 30px);
        padding: 0 15px 100px;
    }
    
    .question-number {
        position: absolute;
        top: -30px;
        left: -30px;
        width: 100px;
        height: 100px;
        font-size: 4rem;
        background-color: #e83738;
        color: white;
        z-index: 3;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 1200px) {
            left: 50%;
            transform: translateX(-50%);
        }

        @media screen and (max-width: 768px) {
            font-size: 2rem;
            height: 50px;
            width: 50px;
        }
    }

    .question {
        flex: 1;
        font-size: 3rem;
        padding: 50px 50px 50px 0;
        line-height: 1.2;

        @media screen and (max-width: 1200px) {
            flex-basis: 100%;
            text-align: center;
            padding: 50px 0 20px;
        }

        @media screen and (max-width: 768px) {
            font-size: 1.75rem;
            padding: 35px 0 10px;
        }
    }

    .options {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-direction: column;

        @media screen and (max-width: 1200px) {
            flex-direction: row;
            flex-wrap: wrap;
            margin: 0 -10px;
        }

        .option {
            border: 1px solid #e83738;
            padding: 13px 20px;
            font-size: 1.5rem;
            border-radius: 4px;
            margin: 15px 0;
            transition: .3s;
            cursor: pointer;

            &.selected, &:hover {
                background-color: #e83738;
                color: #ffffff;
            }

            @media screen and (max-width: 1200px) {
                flex-basis: calc(50% - 62px);
                margin: 10px;
            }

            @media screen and (max-width: 768px) {
                flex-basis: calc(100% - 62px);
                font-size: 1.25rem;
            }
        }
    }

    .submit {
        position: absolute;
        bottom: 50px;
        right: 50px;
        border: 1px solid #e83738;
        padding: 12px 50px;
        text-transform: uppercase;
        background-color: #e83738;
        cursor: pointer;
        font-size: 1.25rem;
        border-radius: 4px;
        color: #ffffff;
        font-weight: bolder;

        @media screen and (max-width: 768px) {
            right: 50%;
            transform: translateX(50%);
            bottom: 30px;
        }
    }
}